html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

/* Top Section */

.heroSection {
  background-color: teal;
  border-top: solid 1rem black;
  border-bottom: solid 1rem black;
  width: 100%;
}

.callout {
    padding-top: 4rem;
    padding-bottom: 4rem;
    width: 50%;
    margin: 0 auto;
}

.callout h1 {
    color: lightblue;
    font-size: 700%;
    line-height: 1.4;
}

.callout p {
  color: lightblue;
  line-height: 2;
}

.callout p strong {
  color: black;
}

.mainNav {
  width: 100%;
}

.navContents {
  padding: 2rem;
}

.siteTitle {
  padding: 1rem 1rem 1rem 0;
  font-size: 2rem;
  font-weight: bold;
  color: lightblue;
}

.navBarLinks {
  float: right;
}

.navLink {
    padding: 1rem;
    background-color: lightblue;
    border-radius: 0.4rem;
    font-weight: bold;
    text-decoration: none;
    color: teal;
    margin-left: 1rem;
}


/* Main Sections */

.mainText {
  padding-top: 4rem;
  padding-bottom: 4rem;
  width: 50%;
  margin: 0 auto;
  line-height: 1.6rem;
}

main h2 {
  text-transform: uppercase; 
  text-align: center;
  font-size: 200%;
}

main h3 {
  font-size: 140%;
}

#portfolio {
  padding: 2rem;
  background-color: lightpink;
  border-top: solid 1rem black;
  border-bottom: solid 1rem black;
}

.skillsContainer {
  display: grid;
  grid-template-columns: auto auto;
}

.portfolioContainer {
  display: grid;
  grid-template-columns: auto auto auto;
}

.portfolioCol {
  padding: 1rem;
  margin: 1rem;
  background-color: white;
  border: solid 0.4rem red;
  border-radius: 1rem;
}


/* Footer */

.mainFooter {
  background-color: black;
  color: white;
  padding: 1rem;
}